#platform=x86, AMD64 oder Intel EM64T
#version=CentOS7

# Install OS instead of upgrade
install

# Keyboard layouts
keyboard 'de'

# Root password
rootpw --iscrypted $1$.WEI6kkl$bv6ak4BIuvTaVGSAA2Nb50

# System language
lang en_US

# System authorization information
auth  --useshadow  --passalgo=sha512

# Use URL installation media
url --url http://isoredirect.centos.org/centos/7/isos/x86_64/CentOS-7-x86_64-DVD-1804.iso

# Use text mode install
text
# SELinux configuration
selinux --permissive
# Do not configure the X Window System
skipx

# Firewall configuration
firewall --disabled
# Halt after installation
halt
# System timezone
timezone Europe/Berlin --isUtc
# System bootloader configuration
bootloader --location=none
# Partition clearing information
clearpart --all

%packages
epel-release
vim
wget
ncdu
nload
iftop
htop
telnet
bind-utils
net-tools
%end

%post
echo "INSTALLATION ABGESCHLOSSEN"
date
echo "root Kennwort lautet: generator"
%end
